header {
    .top-bar-section {
        background-color: var(---primary-grey);
        padding: 18px 0;

        .left-side {
            li:nth-child(2) {
                margin-left: 100px;
            }
        }

        ul {
            li {
                a {
                    width: 300;
                    font-size: 14px;
                    line-height: 22px;
                    color: #FFFFFFCC;
                }
            }
        }

    }

    /* tor bar css end  */
    /* navbar css start  */

    .scrolled{
     position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      transition: all 0.3s ease;
      border-bottom: 1px solid rgb(228, 223, 223);
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .navbar-section {
        padding: 13px 0;
        width: 100%;
        position: fixed;
        background-color: aliceblue;
        border: 1px solid rgb(228, 223, 223);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        

        .content {
            img {
                height: 83px;
                width: 82px;
            }
        }

        ul {
            li {
                margin-left: 40px;

                .book-btn {
                    padding: 20px 53px;
                    font-size: 20px;
                    color: #FFFFFF;
                }

                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: var(---primary-text);
                }
            }
        }
    }


}
/* main section css start  */
main .about-container-section .banner-img {
    background-image: url("../media/about_images/backgorund-img/IMG_4835\ 1.png");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

main .about-container-section .banner-img h2 {
    color: #263B3C;
    font-size: 4rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.32px;
}

main .about-container-section .banner-img .about-text-content {
    padding: 172px 0px;
    flex-direction: column;
    align-items: flex-start;
}

main .about-container-section .banner-img p {
    color: #263B3C;
    font-size: 16.25px;
    font-weight: 400;
    line-height: 160%;
}

/* card_text-section css start  */
main .cards-section .card-text-content {
    margin-top: 100px;
    margin-bottom: 80px;
}

main .cards-section .card-text-content h2 {
    color: #263B3C;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
}


main .cards-section .card-text-content p {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

main .cards-section .card-container .card-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

main .cards-section .card-container .card-content .card-text h2 {
    color: #263B3C;
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
}

main .cards-section .card-container .card-content .card-text p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

/* single card container  */
/* if use main it's doesn't work  */
.cards-section .single-card-container {
    margin: 100px 0px;
}

.cards-section .single-card-container h2 {
    color: #263B3C;
    text-align: center;
    font-size: 38.998px;
    font-weight: 400;
    line-height: 120%;
}
.cards-section .single-card-container .single-card-content{
    background-color: #E5EEEE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cards-section .single-card-container .single-card-content img{
    width: 100%;
    height: auto;
}
.cards-section .single-card-container .single-card-content .birth-text {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14.435px;
    font-weight: 400;
    line-height: 160%;
}

.cards-section .single-card-container .single-card-content .birth-header {
    color: #000;
    font-size: 25.662px;
    font-weight: 400;
    line-height: 110%;
}

.cards-section .single-card-container .single-card-content .miracles-text {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14.435px;
    font-weight: 300;
    line-height: 160%;
}

.cards-section .single-card-container .single-card-content .date-ob {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14.435px;
    font-weight: 400;
    line-height: 160%;
}
footer {
    .marque-section {
        img {
            height: 270px;
            width: fit-content;
        }

        .d-lg-flex {
            overflow-x: auto;
        }

    }

    .main-footer-section {
        background-color: #263B3C;
        padding: 80px 0;

        .footer-text {
            color: rgba(255, 255, 255, 0.60);
            font-size: 20px;
            font-weight: 300;
            line-height: 160%;
        }

        .follow-us {
            color: var(--solid-white, #FFF);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
        }

        .instagram-link {
            color: var(--solid-white, #FFF);
            font-size: 20px;
            font-weight: 300;
            line-height: 160%;
        }

        .footer-subscribe-btn {
            bottom: 56px;
            left: 255px;
            display: flex;
            padding: 13px 42px 12px 41px;
            position: relative;
            justify-content: center;
            align-items: center;
            color: #E5EEEE;
            border-radius: 16px;
            background: #263B3C;
        }

        .footer-input {
            width: 100%;
            height: 60px;
            display: inline-flex;
            padding: 4px 4px 4px 30px;
            justify-content: flex-end;
            align-items: center;
            gap: 159px;
            border-radius: 16px;
            border: 1px solid #FFF;
            background: #FFF;
        }
    }
}
@media only screen and (max-width: 991px) {

    /* header section css  */
    header {

        /* navbar css  */
        .navbar-section {
            .content {
                ul {
                    li {
                        a {
                            margin-bottom: 20px;
                            text-align: center;

                        }
                    }
                }
            }
        }

    }

    /* main section css start   */
    main .about-container-section .banner-img {
        height: 350px;
    }

    main .about-container-section .banner-img .about-text-content {
        padding: 122px 20px;
    }

    /* card text section css start  */
    main .cards-section .card-text-content h2 {
        font-size: 2rem;
    }


    main .cards-section .card-text-content p {
        font-size: 1rem;
    }

    main .cards-section .card-container .card-content .card-text h2 {
        font-size: 24px;
        margin-top: 1rem;
    }

    main .cards-section .card-container .card-content .card-text p {
        font-size: 1rem;
    }

     /* footer section css start  */
     footer {
        .marque-section {
            img {
                height: 170px;
                width: 100%;
            }
        }

        .main-footer-section {
            padding: 40px 10px;
        }
    }
}