header {

    /* top bar css start  */
    .top-bar-section {
        background-color: var(---primary-grey);
        padding: 18px 0;

        .left-side {
            li:nth-child(2) {
                margin-left: 100px;
            }
        }

        ul {
            li {
                a {
                    width: 300;
                    font-size: 14px;
                    line-height: 22px;
                    color: #FFFFFFCC;
                }
            }
        }

    }

    /* tor bar css end  */
    /* navbar css start  */
    .navbar-section {
        padding: 18px 0;
        width: 100%;
        left: 0;
        position: sticky;
        z-index: 1000;
        top: 0;
        background-color: aliceblue;
        border: 1px solid rgb(228, 223, 223);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        .content {
            img {
                height: 83px;
                width: 82px;
            }
        }

        ul {
            li {
                margin-left: 40px;

                .book-btn {
                    padding: 18px 40px;
                    font-size: 20px;
                    color: #FFFFFF;
                }

                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: var(---primary-text);
                }
            }
        }
    }


}

/* main section css start  */
main .Contact-container-section .banner-img {
    background-image: url('../media/contact-images/bg-banner/contact.png');
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

main .Contact-container-section .banner-img h2 {
    color: #263B3C;
    font-size: 4rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.32px;
}

main .Contact-container-section .banner-img .Contact-text-content {
    padding: 172px 0px;
    flex-direction: column;
    align-items: flex-start;
}

main .Contact-container-section .banner-img p {
    color: #263B3C;
    font-size: 16.25px;
    font-weight: 400;
    line-height: 160%;
}

/* contact section css start  */
main .contact-section {
    margin: 100px 0px;
}

main .contact-section .form-conteiner {
    background-color: #E5EEEE;
    border-radius: 20px;
}

main .contact-section h2 {
    color: #000;
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
}

main .contact-section p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

/* form css start  */
.form-control {
    padding: 12px 16px;
    border: 0.502px solid #000;
    border-radius: 8px;
    height: auto;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-size: 10.045px;
    font-weight: 500;
    line-height: 160%;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

textarea.form-control {
    min-height: 120px;
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #152e2a;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}


/* footer section css start  */
footer {
    .marque-section {
        img {
            height: 270px;
            width: fit-content;
        }

        .d-lg-flex {
            overflow-x: auto;
        }

    }

    .main-footer-section {
        background-color: #263B3C;
        padding: 80px 0;

        .footer-text {
            color: rgba(255, 255, 255, 0.60);
            font-size: 20px;
            font-weight: 300;
            line-height: 160%;
        }

        .follow-us {
            color: var(--solid-white, #FFF);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
        }

        .instagram-link {
            color: var(--solid-white, #FFF);
            font-size: 20px;
            font-weight: 300;
            line-height: 160%;
        }

        .footer-subscribe-btn {
            bottom: 56px;
            left: 255px;
            display: flex;
            padding: 13px 42px 12px 41px;
            position: relative;
            justify-content: center;
            align-items: center;
            color: #E5EEEE;
            border-radius: 16px;
            background: #263B3C;
        }

        .footer-input {
            width: 100%;
            height: 60px;
            display: inline-flex;
            padding: 4px 4px 4px 30px;
            justify-content: flex-end;
            align-items: center;
            gap: 159px;
            border-radius: 16px;
            border: 1px solid #FFF;
            background: #FFF;
        }
    }
}

@media only screen and (max-width: 991px) {

    /* header section css  */
    header {

        /* navbar css  */
        .navbar-section {
            .content {
                ul {
                    li {
                        a {
                            margin-bottom: 20px;
                            text-align: center;

                        }
                    }
                }
            }
        }

    }

    /* main section css start   */
    main .Contact-container-section .banner-img {
        height: 350px;
    }

    main .Contact-container-section .banner-img .Contact-text-content {
        padding: 122px 20px;
    }


    /* footer section css start  */
    footer {
        .marque-section {
            img {
                height: 170px;
                width: 100%;
            }
        }

        .main-footer-section {
            padding: 40px 10px;
        }
    }
}